.fontsStats {
  font-family: "Buenos Aires Trial", sans-serif;
  font-weight: 200;
  font-size: 45px;
  line-height: 1;
  background: linear-gradient(90deg, #136cb5 0%, #49bbbd 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
